flows (1).json
[
    {
        "id": "c5d1c7011f63c3d7",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "e639f2e6901b60d3",
        "type": "mqtt in",
        "z": "c5d1c7011f63c3d7",
        "name": "",
        "topic": "esp32/input",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "9fba7085c4b66e04",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 410,
        "y": 100,
        "wires": [
            [
                "5fa96e7cfbc8f95d"
            ]
        ]
    },
    {
        "id": "65c0af31cbb8185c",
        "type": "ui_gauge",
        "z": "c5d1c7011f63c3d7",
        "name": "",
        "group": "8b5d1935bd0f49c0",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "VAC",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "1000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 510,
        "y": 300,
        "wires": []
    },
    {
        "id": "048ab241fb7ef9f3",
        "type": "ui_gauge",
        "z": "c5d1c7011f63c3d7",
        "name": "",
        "group": "777f9bc6f6dbd484",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "VDC",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "1000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 510,
        "y": 360,
        "wires": []
    },
    {
        "id": "5fa96e7cfbc8f95d",
        "type": "debug",
        "z": "c5d1c7011f63c3d7",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 680,
        "y": 100,
        "wires": []
    },
    {
        "id": "9fba7085c4b66e04",
        "type": "mqtt-broker",
        "name": "",
        "broker": "broker.hivemq.com",
        "port": "1883",
        "clientid": "NodeREDClient1234",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "8b5d1935bd0f49c0",
        "type": "ui_group",
        "name": "Gauge",
        "tab": "202d359596cf43fe",
        "order": 1,
        "disp": true,
        "width": "10",
        "collapse": false,
        "className": ""
    },
    {
        "id": "777f9bc6f6dbd484",
        "type": "ui_group",
        "name": "Gauge",
        "tab": "202d359596cf43fe",
        "order": 2,
        "disp": true,
        "width": "10",
        "collapse": false,
        "className": ""
    },
    {
        "id": "202d359596cf43fe",
        "type": "ui_tab",
        "name": "Multimeter Digital",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]